<!DOCTYPEhtml>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <title>Ollie's Amazing To Do App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/ToDoController.js"></script>
    <script type="text/javascript" src="js/factories/ToDoFactory.js"></script>
  </head>
  <body>

    <div id="todo" ng-controller="ToDoController as controller">

      <ul ng-repeat="todo in controller.todos">
        <li>
          <p class='item'>{{ todo.text }} : {{ todo.completed ? 'completed' : 'not completed' }}</p>
          <button id="setCompleteButton" ng-click="todo.complete()">Complete</button>
        </li>
      </ul>

      <input id='addToDoText' type='text' ng-model="toDoText" placeholder="New task...">
      <button id='addToDoButton' ng-click="controller.addToDo(toDoText)">Add task</button>
      <button id='removeToDoButton' ng-click="controller.removeToDo()">Remove last task</button>

    </div>

  </body>
</html>
